:root {
  --tamanoVentanaMin: 25vh;
  --A100: #CCFF90;
  --A200: #B2FF59;
  --A400: #76FF03;
  --A700: #64DD17;
  --A100R: rgb(204, 255, 144);
  --A200R: #rgb(178, 255, 89, 0.5);
  --A400R: #rgb(118, 255, 3);
  --A700R: #rgb(100, 221, 23);

  --backgroundClaro1: #CCFF90;
  --backgroundClaro2: #B2FF59;
  --backgroundClaro3: #76FF03;
  --colorClaro1: black;
  --colorClaro2: #333333;
  --colorClaro3: #666666;

  --backgroundOscuro1: black;
  --backgroundOscuro2: #1e1e1e;
  --backgroundOscuro3: #252526;
  --colorOscuro1: white;
  --colorOscuro2: #cccccc;
  --colorOscuro3: #aaaaaa;
  --borderColor1: var(--A100);
  --borderColor2: var(--A700);
}

@media screen and (min-width: 100px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;


  }

  .principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    max-width: 400px;
    gap: 20px;

  }

  #cabeceraAcerca {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    gap: 20px;
    margin-top: 20px;

  }

  #fotoAcerca {
    padding-left: 20px;
  }

  img {
    padding-left: 0px;

  }

  #cuerpoAcerca {

    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    height: auto;
    width: 100%;

  }



  p {
    text-align: justify;
    font-size: 0.8rem;
    padding-left: 10px;
    padding-right: 10px;

  }

  a {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--backgroundOscuro2);
    cursor: pointer;
    transition: border-color 0.25s;
  }

  a:hover {
    border-color: var(--A400);
   
  }

  a:focus,
  a:focus-visible {
    outline: 4px auto;
  }

}

@media (prefers-color-scheme: light) {

  body {
    background-color: var(--backgroundClaro1);
    /* Fondo blanco */
    color: var(--colorClaro3);
    /* Texto negro */
  }

        a {
          color: var(--A700);
    
        }
    
        a:hover {
          border-width: 2px;
          border-color: black;
          background-color: var(--A700);
          color: white;
        }
    
        

}